# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# Database
*.db
*.sqlite3

# Environment Variables
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project Specific
uploads/*
!uploads/.gitkeep
